* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(45deg, #36d1dc 0%, #5b86e5 100%);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;

	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.header > h1 {
	font-weight: 900;
	padding: 2em 0;
	text-align: center;
}
.github-link {
	position: absolute;
	top: 2em;
	right: 2em;
}

.input-container > .input-field {
	padding: 12px;
	border-radius: 20px 0 0 20px;
	border: none;
	background: #fff;
	color: #000;
	opacity: 0.5;
	font-size: 20px;
}

.input-field:focus {
	outline: none;
}
.input-button:focus {
	outline: none;
}

.input-container > .input-button {
	padding: 12px;
	border-radius: 0 20px 20px 0;
	border: none;
	background: linear-gradient(45deg, #f12711 0%, #f5af19 100%);
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}

.list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3em;
}

.list-items {
	display: flex;
	gap: 0.5em;
	align-items: center;
	background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

	word-wrap: wrap;
	max-width: 380px;
	margin: 25px 0;
}
.list-item {
	list-style-type: none;
	padding: 16px 32px;
	height: 100%;
	width: 100%;
}

.done {
	list-style-type: none;
	padding: 16px 32px;
	height: 100%;
	width: 100%;
	text-decoration: line-through;
	color: rgb(39, 39, 39);
}

.complete-icon {
	background-color: #00ff00;
}
.incomplete-icon {
	background-color: #ff0000;
}

@media only screen and (min-width: 600px) {
	.list-items {
		max-width: 700px;
	}
}
